# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXTAUTH_URL="http://localhost:3000"
DATABASE_URL=""
NEXTAUTH_SECRET="SvIUTdT+FndBgJNHVRDFXfohLssa13wzMYwkW6Il+2Q="

# GOOGLE SMTP SERVICE
EMAIL=
PASSWORD=

# OPEN AI API KEY
OPENAI_API_KEY= ""

# NLTK API ENDPOINT (DEFAULT PORT: 5000)
NLTK_API_URL="http://127.0.0.1:5000"

# UPSTASH CRON API 
QSTASH_API_TOKEN=""